@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.block{
    height:12vw;
    width: 12vw;
    background-color: black;
    color: green;
    padding: 10px;
}


.left{
    float: left;
    margin-right: 10px;
}

.right{
    float: right;
    margin-left: 10px;
}